{% extends "wiki_base.html" %}
{% block content %}

	<form method="post">
		<label> Username: 
			<input type="text" name="username" value="{{ username }}"/> 
			<span style="color: red">{{error_username}}</span>
		</label><br/>

		<label> Password:
			<input type="password" name="password" value=""/>
			<span style="color: red">{{error_password}}</span>
		</label><br/>

		<label> Verify Password:
			<input type="password" name="verify" value=""/>
			<span style="color: red">{{error_verify}}</span>
		</label><br/>

		<label> Email (optional):
			<input type="text" name="email" value="{{email}}"/>
			<span style="color: red">{{error_email}}</span>
		</label><br/>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}